
<% remote_form_for (@user || User.new), :update => 'register' do |f|%><%= f.hidden_field :claim_code %>

	<p>
		<%=f.label :name %><br/>
		<%=f.text_field :name %>
	</p>
	<p>
		<%=f.label :email %><br/>
		<%=f.text_field :email %>
	</p>
	<p>
		<%=f.label :password %><br/>
		<%=f.password_field :password, :value => '' %>
	</p>
	<p>
		<%=f.label :password_confirmation %><br/>
		<%=f.password_field :password_confirmation, :value => '' %>
	</p>
	<p>
		<%= f.submit 'Sign Up' %>
	</p>
	
	<%= f.error_messages :header_message => '' %>
	
<% end %>