<h1>Start Jumbling</h1>

<% form_for(@cause) do |f| %>
  <%= f.error_messages :header_message => 'Could not start your Jumble', :message => '' %>
  <p>
    <%= f.label :title, 'What do you want to raise money for?' %> <span class="hint">Eg. My Skiing Holiday</span><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :email, 'Your email address' %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit 'Go' %>
  </p>
<% end %>