<div class="item">
	<p class="cost">
		<span class="amount">&pound;<%=h item.price %></span> 
		<span class="donated">&pound;<%=h item.donation %> dontated</span>
		
		<% 
		p = item.donation.to_f/item.price.to_f;
		props = [p,1-p] %>

		<%= chart [p,1-p], :width => 30, :height => 30, :style => 'margin-top:.3em' %>
	</p>
	<h3><%=link_to h(item.title), item %></h3>
	<div class="description">
		<%= simple_format h(truncate(item.description, :length => 60)) %>
	</div>
</div>
