<h1>Listing items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Retained cost</th>
    <th>Cause</th>
    <th>Id in cause</th>
    <th>Description</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%=h item.title %></td>
    <td><%=h item.price %></td>
    <td><%=h item.retained_cost %></td>
    <td><%=h item.cause_id %></td>
    <td><%=h item.id_in_cause %></td>
    <td><%=h item.description %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item', new_item_path %>
<h2 style="color:#f08">Just so you know - I'm totally aware of the fact that this is open this is.. It's all about the concept at the moment. <small>(please don't delete everything)</small></h2>
