<h1>Sell Something</h1>
<% form_for(@item) do |f| %>
  <%= f.error_messages %>
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :price %> (&pound;)<br/> 
		<%= f.text_field :price %>
	</p>

	<p>
		<%= f.label :donation %> (&pound;)<br/> 
		<%= f.text_field :donation %>
	</p>

	<p>
		<%= f.label :cause %><br/> 
		<% 
			# prime candidate for memcached
			causes = Cause.all.map do |c|
				content = h(truncate(c.title,:length => 20))
				attribs = {:value => c.id}
				attribs[:selected] = true if c.id == @item.cause_id #apart from this
				content_tag(:option, content, attribs) 
			end
		%>
		<%= f.select 'cause_id', causes.join %>
	</p>


	<p>
		<%= f.label :description %><br />
		<%= f.text_area :description, :rows => 3 %>
	</p>
	<p>
		<%= f.submit 'Submit' %>
	</p>

<% end %>