<h1 id="for">
	for <%=link_to h(@item.cause.title), @item.cause %> 
</h1>


<h1 id="title">
	<img src="http://chart.apis.google.com/chart?cht=p&amp;chd=<%= @item.google_chart_data %>&amp;chs=100" style="float:right"/>
	<%=h @item.title %> <span class="amount">&pound;<%=h @item.price %></span> 
</h1>
<h2>
	Donating <span class="amount">&pound;<%=h @item.price - @item.retained_cost - @item.charge %></span>
</h2>

<div>
  <%=simple_format h(@item.description) %>
</div>


<style type="text/css" media="screen">
	h2{
		font-size:1.1em;
		color:#ccc;
		margin-top:0;
	}
	h1#title{
		margin:0;
	}
</style>