<p class="buy_item">
	<%= link_to 'Buy this item', :action => :buy %>
</p>


<% 
p = @item.donation.to_f/@item.price.to_f;
props = [p,1-p] %>

<%= chart [p,1-p], :width => 50, :height => 50 %>


<h1 id="title">
	<%=h @item.title %> <span class="amount">&pound;<%=h @item.price %></span><span class="selling_by"> selling by <%=link_to h(@item.user.name), @item.user %></span>
</h1>
<h2 id="donation">
	Donating <span class="amount">&pound;<%=h @item.donation %></span> to <%=link_to h(@item.cause.title), @item.cause %>
</h2>
<div>
  <%=simple_format h(@item.description) %>
</div>




<% conversation = Conversation.find_or_create_by_path item_path %>
<div class="messages">
	<p style="margin:0">
		<a href="#messages" onClick="$('message-content').blindDown();$('message-link').hide()" id="message-link"><%=pluralize conversation.messages.size, 'Message'%> </a>
	</p>
	<div id="message-content" style="display:none">
		<%= render conversation %>
		<%# will be ajax %>
	</div>
</div>
<div style="clear:left">
</div>






<style type="text/css" media="screen">
	.note{
		color:#999;
		font-size:.6em;
	}

	h2#donation{
		font-size:1.1em;
		color:#ccc;
		margin-top:0;
	}
	h1#title{
		margin:0;
	}
	.chart{
		float:left;
		margin-right:1em;
		margin-top:.5em;
	}
	.selling_by{
		font-size:.4em;
		font-weight:normal;
		color:#ccc;
	}
	
	
	
	
	
	
	.total{
		font-size:3.5em;
		font-weight:bold;
		margin:0;
		float:left;
	}
	.payment{
		float:left;
		margin-left:1em;
		padding-top:.5em;
	}
	.pay-details{
		font-size:.6em;
		color:#999;
		display:block;
	}
	.paypal{
		margin-top:1em;
		background-color:#FFB439;
		-webkit-border-radius:5px;
		padding:.1em 1em;
		font-weight:bold;
		color:#000;
		text-decoration:none;
		font-style: italic;
	}
	
	ul.costs{
		clear:both;
		list-style:none;
		padding:0;
		font-size:1.3em;
		color:#888;
	}
	ul.costs li{
		margin-bottom:.5em;
	}
	ul.costs li small{
		font-size:.6em;
	}
	#buy{
		margin:-1em;
		margin-bottom:1em;
	}
	#buy > div{
		background-color:#f5f5f5;
		border-bottom:1px solid #ccc;
		padding:2em;
	}
</style>

<script type="text/javascript" charset="utf-8">
	// var once = true;
	// document.observe('dom:loaded',function(){
	// 	if(once){
	// 		once = false;
	// 		//dom:loaded called twice
	// 		// $('buy').hide();
	// 		// $('buy-link').observe('click',function(e){
	// 		// 	new Effect.toggle('buy','slide');
	// 		// })
	// 		
	// 		// $('message').hide();
	// 		// $('message-link').observe('click',function(e){
	// 		// 	new Effect.toggle('message','slide');
	// 		// })
	// 		
	// 	}
	// })
</script>