<h1 id="title">
	<%=h @item.title %> <span class="amount">&pound;<%=h @item.price %></span> 
</h1>
<h2>
	Donating <span class="amount">&pound;<%=h @item.donation %></span> to <%=link_to h(@item.cause.title), @item.cause %>
</h2>

<div>
  <%=simple_format h(@item.description) %>
</div>


<style type="text/css" media="screen">
	h2{
		font-size:1.1em;
		color:#ccc;
		margin-top:0;
	}
	h1#title{
		margin:0;
	}
</style>